.internal
XycloneDesigns.Extensions._Base
XycloneDesigns.Extensions.Android/bin
XycloneDesigns.Extensions.Android/obj
XycloneDesigns.Extensions.AndroidX/bin
XycloneDesigns.Extensions.AndroidX/obj
XycloneDesigns.Extensions.AndroidX.AppCompat/bin
XycloneDesigns.Extensions.AndroidX.AppCompat/obj
XycloneDesigns.Extensions.AndroidX.ConstraintLayout/bin
XycloneDesigns.Extensions.AndroidX.ConstraintLayout/obj
XycloneDesigns.Extensions.AndroidX.Palette/bin
XycloneDesigns.Extensions.AndroidX.Palette/obj
XycloneDesigns.Extensions.AndroidX.RecyclerView/bin
XycloneDesigns.Extensions.AndroidX.RecyclerView/obj
XycloneDesigns.Extensions.CSharp/bin
XycloneDesigns.Extensions.CSharp/obj
XycloneDesigns.Extensions.Google.Android.Material/bin
XycloneDesigns.Extensions.Google.Android.Material/obj
